/*https://codepen.io/mattdrose/pen/qEZBge*/

.quizprogress {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #849397;
    z-index: -1;
}

.quizprogress>li {
    position: relative;
    display: table-cell;
    text-align: center;
    /*font-size: 0.8em;*/
}
/*round nodes*/
.quizprogress>li:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: #FCEE7B;
    border: solid 2px white;
    width: 3em;
    height: 3em;
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}
/*connected lines*/
.quizprogress>li:after {
    visibility: inherit;
    content: '';
    position: absolute;
    display: block;
    background: #DFE3E4;
    width: 100%;
    height: 2px;
    top: 1.25em;
    left: 50%;
    margin-left: 1.5em;
    z-index: -1;
}

.quizprogress>li:last-child:after {
    display: none;
}

.quizprogress>li.is-complete {
    color: #2ECC71;
}

.quizprogress>li.is-complete:before,
.quizprogress>li.is-complete:after {
    visibility: inherit;
    color: #FFF;
    background: #2ECC71;
}



.quizprogress>li.is-active {
    color: #3498DB;
}

.quizprogress>li.is-active:before {
    color: #FFF;
    background: #3498DB;
}

.quizprogress>li.is-done:before {
    background: #2ECC71;
}

.quizprogress>li.wrong:before {
    background: red !important;
}


/**
 * Needed for IE8
 */

.quizprogress__last:after {
    display: none !important;
}


/**
 * Size Extensions
 */

.quizprogress--medium {
    font-size: 1.5em;
}

.quizprogress--large {
    font-size: 2em;
}


/**
 * Some Generic Stylings
 */


/**, *:after, *:before {
  box-sizing: border-box;
}
*/


/*h1 {
  margin-bottom: 1.5em;
}*/

.quizprogress {
    /*margin-bottom: 3em;*/
    /*margin-top: 3em;*/
    font-size: 1.5em;
}


/*a {
  color: #3498DB;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}*/


/*body {
  text-align: center;
  color: #444;
}*/