
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    
    /*backface-visibility: hidden;*/
    /*transform: translate3d(0, 0, 0);*/
}
.pt-page-ontop {
    z-index: 999;
}
.home-page {
    background: linear-gradient(to bottom right, #0123FF, #7385F9);
}
.game-page {
    background: linear-gradient(to bottom right, #009951, #A9F1CF);
    padding: 75px;
}
.popup-page {
    background: linear-gradient(to bottom right, #FC0404, #F36C6C);
}

.display-on {
    visibility: visible;
}

body{
    background: #232323;
    font-family: "Abel", Helvetica, Arial, sans-serif;
}

/*HOME PAGE*/


.menu-section {
    height: 10%;
}

ol.menu {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 0;
    margin: 3px;
}

ol.mlevel1>li  {
    display: inline-block;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 3em;
    background-color: #9180FD;
    margin-right: 3px;
}
ol.mlevel2>li  {
    display: inline-block;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 2.5em;
    background-color: #4BC9D8;
    margin-right: 3px;
}
ol.mlevel3>li  {
    display: inline-block;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 2em;
    background-color: #FD80AE;
    margin-right: 3px;
}

ol.menu>li.selected-level {
    background-color: yellow;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}
.start-section {
    height: 100%;
    top: 300px;
    position: relative;
}
.start-btn {
    text-align: center;
    font-size: 10em;
    color: yellow;
}
.noquestion {

    text-align: center;
    font-size: 6em;
    color: yellow;
}

/*GAME PAGE*/

.question {
    font-size: 4em;
    text-align: center;
    padding: 5%;
    color: black;
    font-weight: 900;
}
.choices {
    text-align: center;
}
.choice {
    height: 250px;
    border: none;
    font-size: 2.4em;
    text-align: center;
    color: white;
    /*padding: 50px;*/
}
.choice.animate {
    animation: scaleSmaller 0.5s ease-out;
}
.choice0 {
    background-color: #E3E009;
}
.choice1 {
    background-color: #6405C9;
}
.choice2 {
    background-color: #4247E7;
}
.choice3 {
    background-color: #E7429A;
}
.image {
    margin-bottom: 50px;
    text-align: center;
}
.image img {
    border: solid 10px white;
    width: auto;
    max-height: 530px;
}

.animation-shape {
    position: absolute;
    top: 200px;
    z-index: -1;
}


#confetti {
    width: 100% ;   
    height: 100%;
    margin: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.top-menu {
    /*margin: 3em 0;*/
}
.goback-box {
    border: solid 1px #E7429A;
    height: 62px;
    font-size: 1em;
    text-align: center;
    color: #E7429A;
}
.goback-text {
    position: relative;
    top: 20;
}
.goback-finished {
    font-size: 14em;
    position: absolute;
    color: orangered;
    top: -42px; 
    left: -27px;
}
.goback-finished.animate {
    animation: 1s linear 0s infinite alternate colorChangeBright;
}

.quizprogress-section {
    z-index: 0;
}
.quizprogress .is-active.animate:before {
    animation: 1s linear 0s infinite alternate bgcolorChangeBright;
}
.points-section {
    position: fixed;
    left: 86%;
    min-width: 150px;
    z-index: 1;
}
.points-box {
    float: right;
    /*border: solid 1px #2ECC71;*/
    font-size: 5em;
    width: 100%;
    text-align: center;
    background: none;
    color: #4247E7;
    font-family: "Kalam";
    transform: scale(2);
}
/*.points-section.animate {
    animation: 0.7s ease-in-out 0.3s 1 loudScaleInForPoints;
}*/
.see-score-board {
    font-size: 4em;
    float: right;
    color: indigo;
}
.goback-finished.animate {
    animation: 1s linear 0s infinite alternate colorChangeBright;
}


/*POPUP PAGE*/


.popup {
    text-align: center;
}
.popup-wrong {
    color: darkred;
    font-size: 8em;
    font-family: 'Nosifer', cursive;
}
.popup-wrong.animate {
    animation: 1s linear 0s infinite alternate colorChangeBright, 1s ease-in-out 0s infinite alternate letterSpacingChange;
}
.popup-button {
    color: yellow;
    font-size: 3em;
    border: solid 1px yellow;
    margin-right: 20px;
    max-width: 190px;
}
.wait-text {
    margin-left: 25px;
}
.right-answer {
    font-size: 2em;
    color: black;
    font-family: "Kalam";
}
.right-answer .right-choice {
    font-size: 1.5em;
}
.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: rgba(0, 0, 0, 1);*/
    /*transition: opacity 500ms;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
}

.overlay.animate {
    /*visibility: visible;*/
    /*opacity: 1;
    animation: 0.3s linear 0s 1 loudScaleIn;*/
}
.timer {
    margin-top: 10px;
}
.clock {
    display:inline-block;
    width:40px;
    height:40px;
    border-radius:100%;
    border:2px solid yellow;
    position:relative;
}
.line {
    display:inline-block;
    position:absolute;
    left:50%;
    top:2px;
    width:1px;
    height:15px;
    border-left:2px solid yellow;
    transform-origin: 0px 15px;
}

.line.animate {
    animation: 3s linear 0s 1 rotate360;
}
.explanation {
    text-align: justify;
}




/*WRONG IMAGE PAGE*/
.wrong-image-page {
    padding: 10%;
    background: linear-gradient(to bottom right, #0123FF, #7385F9);
}
.wrong-image.page .img-section {

}
.wrong-image-page img {
    display: block;
    margin: auto;
    width: 85%;
    border: solid 10px white;
}

/*SCORE BOARD PAGE*/


.score-board {
    text-align: center;
}
.score-board h1 {
    font-family: 'Audiowide', cursive;
    font-size: 5em;
    color: yellow;
}
.score-board table {
    font-family: 'Kalam', cursive;
    font-size: 2em;
    color: white;
    margin: auto;
}
.score-board table tr {
    text-align: center;
}
.score-board table tr.you {
    color: yellow;
}
.score-board table tr td:nth-child(1) {
    width: 5%;
}
.score-board table tr td:nth-child(2) {
    width: 34%;
}
.score-board table tr td:nth-child(3) {
    width: 8%;
}

ol.answers {
    color:white;
    font-size: 3em;
    display: inline-block;
    padding: 0;
}
ol.answers>li {
    display: table-cell;
    border: solid 1px white;
    min-width: 65px;
}
ol.answers>li.right {
    background-color: #2ECC71;
}
ol.answers>li.wrong {
    background-color: #E74274;
}
.answers-show h3 {
    font-size: 2.5em;
    color: #2ECC71;
}
.answers-show h4 {
    font-size: 5em;
    color: #2ECC71;
}



/*.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1200px;
    transform-style: preserve-3d;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page {
    visibility: visible;
}

.no-js body {
    overflow: auto;
}
*/


/*ANIMATIONS*/


@keyframes rotate360 {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
@keyframes loudScaleIn {
    from { transform: scale(10, 10);}
    to { transform: scale(1, 1);}
}
@keyframes loudScaleInForPoints {
    0% {font-size: 10em; left: 190px;}
    100% { }
}
@keyframes colorChange {
    0% { color: #4D0B7E;}
    50% { color: #7E0B1A;}
    100% { color: #350B7E;}
}
@keyframes colorChangeBright {
    0% { color: #FAEC12;}
    50% { color: #12FA78;}
    100% { color: #1220FA;}
}
@keyframes bgcolorChangeBright {
    0% { background: #3DA416;}
    50% { background: #7D16A4;}
    100% { background: #1220FA;}
}
@keyframes letterSpacingChange {
    0% { letter-spacing: normal;}
    100% { letter-spacing: 0.5em;}
}

@keyframes scaleSmaller {
    0% {}
    100% { transform: scale(.5);}
}
/*
.choices-enter-active {
    transition: all .3s ease-in-out .3s;
}
.choices-leave-active {
    transition: all .3s ease-in-out;
}
.choices-enter {
    transform: translateX(200px);
    opacity: 0;
}
.choices-leave-to {
    transform: translateX(-200px);
    opacity: 0;
}*/
.question-enter-active {
    transition: all .2s ease-in-out 0.2s;
}
.question-leave-active {
    transition: all .2s ease-in-out;
}
.question-enter {
    transform: translateX(200px);
    opacity: 0;
}
.question-leave-to {
    transform: translateX(-200px);
    opacity: 0;
}