<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
        <style>
        table.main {
            width:100%;
            height:100%;
        }

        .list-panel {
            width: 65%;

            
            padding: 10px 25px 1px 50px;
            overflow-x: hidden;
            vertical-align: top;
            text-align: left;
        }
        .question-list>tr.unsaved {
            background: #EEEEE5;
        }
        .edit-panel {
            padding: 14px 15px 16px 25px;
            width: 35%;
            max-width: 100px;
            vertical-align: top;
            background: #f5f5ff;
            border-left: 1px solid #e5e5ee;
        }
        .edit-panel.editing {
            background: #E5EEEA;
        }
        .edit-panel.unsaved {
            background: #EEEEE5;
        }
        table.question-row {
            width: 100%;
            white-space: nowrap; 
            table-layout: fixed;
        }
        table.question-row td {
            overflow: hidden; 
            text-overflow: ellipsis;
        }
        table.question-row tr.active {
            border-bottom: 2px solid #C0C0FB;
        }
        table .level-col {
            width: 155px;
        }
        tr.table-row-question .delete-question-button {
            visibility: hidden;
        }
        tr.table-row-question:hover .delete-question-button {
            visibility: visible;
        }
        
        .status-message pre{

            margin: 15px 0;
        }
        .add-level-status {
            margin: 0;
            padding: 7px;
        }

        /*Dropzone*/
        .dropzone {
            padding: 0;
        }
        .dropzone .droparea {
            height: 120px;
        }
        .droparea p {
            line-height: 7em;
        }
        .v-transmit__upload-area {
            border: dashed lightblue;
            border-radius: 12px;
            height: 120px;
            background: white;
            text-align: center;
        }
        .v-transmit__upload-area--is-dragging {
            border: solid lightblue;
        }
        .images-list {
            list-style: none;
            padding: 0;
        }
        .images-list>li {
            display: inline;
        }
        .images-list img {
            width: 80px;
            height: 80px;
            border: solid 9px white;
            border-radius: 12px;
            margin-bottom: 4px;
            margin-left: 4px;
        }
        .image-delete {
            position: absolute;
            top: -40px;
            right: 0;
            color: red;
        }
        </style>

        <title>Touch Quiz</title>
    </head>
    <body>
        <!-- Main -->
        <div class="main" id="app">
            <table>
                <tbody>
                    <tr>
                        <td class="list-panel">
                            <!-- Search bar -->

                            <div class="form-group">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control" style="" name="search" v-model="searchQuery" @keyup.enter="get_questions()" placeholder="Search for question or level">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" @click="get_questions()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
                                    </span>
                                </div>
                            </div>

                            <!-- Question List -->
                            <table class="table table-bordered question-row">
                                <thead>
                                    <tr>
                                        <th class="level-col">Levels</th><th>Question</th><th>Answer</th>
                                    </tr>
                                </thead>
                                <tbody class='question-list'>
                                    
                                    <tr is="question-item"
                                        v-for="q in questions"
                                        v-bind:question="q"
                                        v-bind:levels="levels"
                                        v-bind:key="q.id"
                                        v-bind:class="[ selectedQuestion === q ? 'active' : '' ]"
                                        v-on:click.native="selectToEdit(q, $event)"
                                        v-on:deletequestion="delete_question(q)">
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <!-- Pagination -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li v-for="page in page_links" :class="{active: page.is_active}"><a @click="get_questions(page.url)">{{ page.number }}</a></li>
                                </ul>
                            </nav>
                            
                        </td>
                        <td class="edit-panel" v-bind:class="[ isEditing? '': 'editing' ]">
                            <!-- Question Edit -->
                            <div class="row">
                                <div class="col-md-6">
                                    <button id="add-button" class="btn btn-default" v-on:click="add" v-bind:disabled="!isEditing">Add</button>
                                </div>
                                <div class="col-md-6">
                                    <span class="label pull-right" v-bind:class="[ isEditing ? 'label-primary': 'label-success' ]">{{ isEditing ? 'Edit Mode': 'Add Mode'}}</span>
                                </div>
                            </div>
                            <br>
                            
                            <question-edit
                                v-bind:question="editingQuestion"
                                v-bind:levels="levels">
                            </question-edit>
                            
                            

                            <button id="save-button" class="btn btn-default" v-on:click="save">Save</button>

                            <div v-if="statusMessage.message" class="status-message">
                                <pre class="alert" :class="[ statusMessage.error ? 'alert-danger': 'alert-success']">{{ statusMessage.message | json }}</pre>
                            </div>
                                

                            
                        </td>
                    </tr>
                </tbody>
            </table>

            <add-level v-bind:levels="levels" id="addLevel1Modal" v-on:addlevel="add_level">
                <h4 class="modal-title" slot="title">Add Level 1</h4>
                <template slot="level1_dropdown"></template>
                <template slot="level2_dropdown"></template>
                <template slot='add-button-2'></template>
                <template slot='add-button-3'></template>
            </add-level>

            <add-level v-bind:levels="levels" id="addLevel2Modal" v-on:addlevel="add_level">
                <h4 class="modal-title" slot="title">Add Level 2</h4>
                <template slot="level2_dropdown"></template>
                <template slot='add-button-1'></template>
                <template slot='add-button-3'></template>
            </add-level>

            <add-level v-bind:levels="levels" id="addLevel3Modal" v-on:addlevel="add_level">
                <h4 class="modal-title" slot="title">Add Level 3</h4>
                
                <template slot='add-button-1'></template>
                <template slot='add-button-2'></template>
            </add-level>

        </div><!-- div#app -->





        <!-- Templates -->

        <!-- Add level 1 Modal -->
        <script type='text/x-template' id='add-level-template'>
        
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <slot name='title'></slot>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <slot name="level1_dropdown">
                                    <div class="form-group form-group">
                                        <label class="col-sm-2 control-label" for="addLevel2Modal_level1">Level 1</label>
                                        <div class="col-sm-5">
                                            <select name="level_1" id="addLevel2Modal_level1" v-model="enteredLevel.level1" v-on:change="enteredLevel.level2 = null;">
                                                <option disabled value="">Please select a level 1</option>
                                                <option v-for="level1 in levels.level1s" v-bind:value="level1.id">{{ level1.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </slot>

                                <slot name="level2_dropdown">
                                    <div class="form-group form-group">
                                        <label class="col-sm-2 control-label" for="addLevel3Modal_level2">Level 2</label>
                                        <div class="col-sm-5">
                                            <select name="level_2" id="addLevel3Modal_level2" v-model="enteredLevel.level2">
                                                <option disabled value="">Please select a level 2</option>
                                                <option v-for="level2 in possibleLevel2s" v-bind:value="level2.id">{{ level2.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </slot>

                                <div class="form-group form-group">
                                    <label class="col-sm-2 control-label" for="code1">Code</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" type="text" id="code1" placeholder="P" v-model="enteredLevel.code">
                                    </div>
                                </div>
                                <div class="form-group form-group">
                                    <label class="col-sm-2 control-label" for="name1">Name</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" type="text" id="name1" placeholder="Physics" v-model="enteredLevel.name">
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <span class="alert pull-left add-level-status" v-if="status.message" :class="[ status.error ? 'alert-danger': 'alert-success' ]">{{ status.message }}</span>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <slot name="add-button-1">
                                <button type="button" class="btn btn-primary" @click="addLevelx('level1')">Add</button>
                            </slot>
                            <slot name="add-button-2">
                                <button type="button" class="btn btn-primary" @click="addLevelx('level2')">Add</button>
                            </slot>
                            <slot name="add-button-3">
                                <button type="button" class="btn btn-primary" @click="addLevelx('level3')">Add</button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>

        </script>
    
        
        <script type='text/x-template' id='question-item-template'>
            <tr class="table-row-question">
                <td class="level-col"><span class="level1 label label-primary">{{ level1.code }}</span> <span v-if="level2" class="level2 label label-success">{{ level2.code }}</span> <span v-if="level3" class="level3 label label-info">{{ level3.code }}</span></td>
                <td>{{ question.text }}</td>
                <td>{{ question.choice1 }}
                    <button class="delete-question-button btn btn-danger btn-xs pull-right" @click="deleteQuestion(question)">Delete</button>
                </td>
            </tr>
        </script>


        
        <script type='text/x-template' id='question-edit-template'>
        <div>
            <div class="form-group">
                <label for="level1">Level 1</label>
                <select name="level_1" id="level1" v-model="question.level1" v-on:change="question.level2 = null; question.level3 = null">
                    <option disabled value="">Please select a level 1</option>
                    <option v-for="level1 in levels.level1s" v-bind:value="level1.id">{{ level1.name }}</option>
                </select>
                <button class="btn btn-default btn-xs glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#addLevel1Modal"></button>
            </div>
            <div class="form-group">
                <label for="level2">Level 2</label>
                <select name="level_2" id="level2" v-model="question.level2" v-on:change="question.level3 = null">
                    <option disabled value="">Please select a level 2</option>
                    <option v-for="level2 in possibleLevel2s" v-bind:value="level2.id">{{ level2.name }}</option>
                </select>
                <button class="btn btn-default btn-xs glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#addLevel2Modal"></button>
            </div>
            <div class="form-group">
                <label for="level3">Level 3</label>
                <select name="level_3" id="level3" v-model="question.level3">
                    <option disabled value="">Please select a level 3</option>
                    <option v-for="level3 in possibleLevel3s" v-bind:value="level3.id">{{ level3.name }}</option>
                </select>
                <button class="btn btn-default btn-xs glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#addLevel3Modal"></button>
            </div>
            
            <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" id="question" rows="3" v-model="question.text"></textarea>
            </div>
            <div class="form-group">
                <label for="choice1">Answer</label>
                <input type="text" class="form-control" id="choice1" v-model="question.choice1">
            </div>
            <div class="form-group">
                <label for="explanation">Explanation</label>
                <textarea class="form-control" id="explanation" rows="3" v-model="question.explanation"></textarea>
            </div>
            
            <label for="dropzone-upload">Image</label>
            <ul class="images-list">
                <li v-for="img in question.images" style="position:relative">
                    <a :href="img.image" target="_blank" ><img :src="img.image" alt=""></a>
                    <div class="image-delete glyphicon glyphicon-remove-circle" @click="delete_image(img)" style="cursor:crosshair"></div>
                </li>
            </ul>

            <vue-transmit ref="uploader" class="dropzone" id="dropzone-upload" url="/file-upload/" @success="uploadSuccess" v-bind="vue_transmit_options">
                <div class="droparea"><p>Drop image here</p></div>
            </vue-transmit>
            
            <div class="form-group">
                <label for="choice2">Choice</label>
                <input type="text" class="form-control" id="choice2" v-model="question.choice2">
            </div>
            <div class="form-group">
                <label for="choice3">Choice</label>
                <input type="text" class="form-control" id="choice3" v-model="question.choice3">
            </div>
            <div class="form-group">
                <label for="choice4">Choice</label>
                <input type="text" class="form-control" id="choice4" v-model="question.choice4">
            </div>
        </div>
        </script>

        

        
        
        
        <script src="js/vue.js"></script> <!-- Development version with warnings -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="js/vue-transmit.browser.min.js"></script>

        <script src="bower_components/axios/dist/axios.js"></script>

        <script src="js/input.js"></script>

    </body>
</html>