<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/progress-bar.css">

        <link href="https://fonts.googleapis.com/css?family=Audiowide|Abel|Nosifer|Kalam" rel="stylesheet">

        <link rel="stylesheet" href="css/quiz.css">
        <link rel="stylesheet" href="css/animations.css">
    </head>
    <body>
        <!-- <canvas id='confetti'></canvas> -->
        <div class="pt-perspective" id="app" v-on:click="resetTimeout">

            
            <!-- Level Selection -->
            <div ref="home-page" class="page home-page display-on">
                <!-- Menu -->
                <div class="menu-section">
                    <ol class="menu mlevel1">
                        <li v-for="level1 in levels.level1s" v-on:click="selectedLevel1 = level1; selectedLevel2 = {id: 0}; selectedLevel3 = {id: 0};"
                            v-bind:class="{'selected-level': level1 === selectedLevel1}">
                            {{level1.name}}
                        </li>
                    </ol>
                    <ol class="menu mlevel2">
                        <li v-for="level2 in possibleLevel2s" v-on:click="selectedLevel2 = level2; selectedLevel3 = {id: 0};"
                            v-bind:class="{'selected-level': level2 === selectedLevel2}">
                            {{level2.name}}
                        </li>
                    </ol>
                    <ol class="menu mlevel3">
                        <li v-for="level3 in possibleLevel3s" v-on:click="selectedLevel3 = level3;"
                            v-bind:class="{'selected-level': level3 === selectedLevel3}">
                            {{level3.name}}
                        </li>
                    </ol>
                </div>
                <!-- Start -->
                <div  class="start-section">
                    <div v-if="selectedLevel1.id === 0 || questions.length > 0" class="start-btn" v-on:click="start">
                        <div class="icon glyphicon glyphicon-circle-arrow-right"></div>
                        <div class="text">Start</div>
                    </div>
                    <div v-else class="noquestion">
                        No questions for selections
                    </div>
                </div>
                
            </div>
            
            <!-- Game -->
            <div ref="game-page" class="page game-page ">

                <div class="row top-menu">
                    <!-- Go back -->
                    <div class="col-md-1" style="padding:0">
                        <a href="quiz.html">
                            <div v-if="finishedQuestionCount < questions.length" class="goback-box"><div class="goback-text">QUIT</div></div>
                            <!-- <span v-else class="goback-finished animate glyphicon glyphicon-circle-arrow-left"></span> -->
                        </a>
                    </div>
                    <!-- Progress bar -->
                    <div class="col-md-9 quizprogress-section">
                        <ol class="quizprogress">
                            <li
                                v-for="(q, index) in questions"
                                v-bind:data-step="index + 1"
                                v-bind:class="[ {'is-active': index === currentQuestionIndex}, {'is-complete': index < currentQuestionIndex}, {'wrong': wrongAnswerIndexes.indexOf(index) >= 0 }, {'is-done': index + 1 === questions.length && finishedQuestionCount === questions.length}, {'animate': finishedQuestionCount < questions.length && index === currentQuestionIndex} ]">
                                
                            </li>
                        </ol>
                    </div>
                    <!-- Point tally -->
                    <div class="col-md-2" ref="points" id='points'>
                        <div class="points-box">
                            <div class="points-number">{{ points }}</div>
                        </div>
                    </div>
                </div>
                
                
                <!-- Question -->
                
                <div class="row question" id="question">
                    <transition name="question">
                        <p v-if="showQuestion && currentQuestion">{{ currentQuestion.text }}</p>
                    
                    </transition>
                </div>
                <!-- Image -->
                <div class="row image" v-if="currentQuestion && currentQuestion.images[0]">
                    <img :src="currentQuestion.images[0].image" alt="">
                </div>
                <!-- Choices -->
                <div class="row choices">
                    <!-- <transition-group name="choices"> -->
                        <div
                            v-for="(c, index) in choices"
                            v-bind:key="c"
                            v-bind:class="[ 'choice' + index, 'choice', 'col-md-3', {'correct-answer': c === currentQuestion.choice1 && c === currentSelectedAnswer},  {'wrong-answer': c !== currentQuestion.choice1 && c === currentSelectedAnswer}]"
                            v-on:click="selectChoice(c, $event)"
                            v-bind:id="'choice' + index">
                            {{ c }}
                        </div>
                    <!-- </transition-group> -->
                </div>
                <br>
                <div class="row see-score-board" v-if="finishedQuestionCount === questions.length" v-on:click="toScoreBoard">
                    <span>Top Scores</span> <span class="glyphicon glyphicon-chevron-down" style="top: 12px;"></span>
                </div>
                
            </div>
            

            <!-- Score Board -->
            <div ref="score-board-page" class="page score-board-page score-board ">
                <a href="quiz.html"><span class="goback-finished animate glyphicon glyphicon-circle-arrow-left"></span></a>
                <h1>Score Board</h1>
                <table>
                    <tr><td>1</td><td>Henry Nguyen</td><td>999</td></tr>
                    <tr><td>2</td><td>Henry Nguyen</td><td>890</td></tr>
                    <tr class="you"><td>3</td><td>You</td><td>{{ points }}</td></tr>
                </table>
                <h1>Answers</h1>
                <ol class="answers">
                    <li 
                        v-for="(q, index) in questions"
                        v-bind:class="[ wrongAnswerIndexes.indexOf(index) >= 0 ? 'wrong': 'right']"
                        v-on:click="selectedAnswerIndex = index">
                        {{ index + 1}}
                    </li>
                    
                </ol>
                <div class="answers-show">
                    <h3>{{ questions[selectedAnswerIndex].text }}</h3>
                    <h4>{{ questions[selectedAnswerIndex].choice1 }}</h4>
                </div>
            </div>

            <!-- Wrong image popup -->
            <div ref="wrong-image-page" class="page wrong-image-page">
                <div class="img-section">
                    <img>
                </div>
            </div> 


            <!-- Wrong popup -->
            <div ref="popup-page" class="page popup-page overlay" v-if="currentQuestionIndex >= 1">
                <div class="popup">
                    <p class="popup-wrong animate">Wrong</p>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-4 popup-button" v-on:click="closePopup">Next</div>
                        <div class="col-md-3 popup-button" v-on:click="cancelPopupTimeout">
                            <span class="wait-text">Wait</span>
                            <span class="col-md-1 timer">
                                <span class="clock">
                                    <span class="line" id="line" ref="line"></span>
                                </span>
                            </span>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class='right-answer'>
                            <p>{{ currentQuestionIndex > 0 ? questions[currentQuestionIndex - 1].text : '' }}</p>
                            <p class='right-choice'>{{ currentQuestionIndex > 0 ? questions[currentQuestionIndex - 1].choice1 : '' }}</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="explanation col-md-6 col-md-offset-3">{{ questions[currentQuestionIndex - 1].explanation }}</div>
                    </div>
                </div>
            </div>
            
            

        </div>
        

        
        <script type='text/x-template' id='menu-level-template'>
            
            
        </script>


        
        <script src="js/vue.js"></script> <!-- Development version with warnings -->
        <script src="bower_components/animejs/anime.js"></script>
        <script src="js/pt-animations.js"></script>
        <script src="bower_components/axios/dist/axios.js"></script>
        <script src="js/quiz.js"></script>
    </body>
</html>